# =====================
# Logs
# =====================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =====================
# Node / React
# =====================
node_modules/
dist/
dist-ssr/
build/
*.local

# =====================
# .NET / Visual Studio
# =====================
.vs/
**/.vs/

bin/
obj/
**/bin/
**/obj/

*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.vsidx
*.db
*.db-shm
*.db-wal

# =====================
# Editor files
# =====================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.sw?
